

.cardContainer{
    width: 220px;
    /* height: 408px; */
    height: 356px;
    margin: 14px 7px 0px 7px;
    border-radius: 0px;
    border: solid #ddd 1px;
    /* border:solid rgba(0,0,0,0) 1px; */
    overflow: hidden;
    /* box-shadow: 0px 0px 0px 2px rgba(156, 156, 156, 0.3), 
             0px 4px 2px 0px rgba(156, 156, 156, 0.4); */
    
}

.cardContainer-ant{
    background-color: rgba(255, 255, 255, 0.40);    
    width: 236px;
    height: 405px;
    margin: 25px 14px 2px 7px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    transition: transform .1s;
    border-radius: 7px;
}

.cardContainer-ant:hover{
    transform: scale(1.04);
    box-shadow: 0 5px 7px rgba(0,0,0,0.2);
}

.cardContainer:hover { 
    /* border:solid #f00 1px; */
}

.price{
    width: 100%;
    height: 35px;
    background-color: rgba(0,0,0,0.85);
    font-size: 1.5em;
    color: #fff;
    padding-top:1%;
    /* border-radius: 5px; */
}