.benchItem{
    width:300px;
    height:90px;
    background-color: rgba(255, 255, 255, 0.70);    
    margin:6px;
    /* background-image: url('../../../assets/cards/platCropped.PNG'); */
    background-size:cover;
    padding:7px;
}

.benchCount{
    font-size:2.2em;
    font-weight:200;
    color:#000;
    margin:25px;
    /* float:left; */
}

.benchItemPic{
    width:70px;
    float:left;
    border-radius: 35px;
}

.benchItemclub{
    width:50px;
    float:right;
    margin-top:13px;
}

.benchItemName{
    font-size:22px;
    margin-top:28px;
    float:left;
    font-weight:300;
}