.dropdownContainer{
    height: 50px;
    width: 20%;
    margin-left: 1%;
    border:solid #ddd 1px;
    z-index:1;
    overflow:hidden;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
    user-select: none; 
    border-radius: 5px;
}

.dropdownContainer a{
    color: inherit;   
}

.opened{
    overflow: visible!important;
    background-color: rgba(0,0,0,0.02);
}

.opened .dropdownItem{
    opacity: 1;
    margin-top: 0px;
    transition: margin-top 0.2s, opacity .1s linear;
}

.dropdownContainer:hover{
    background-color: rgba(0,0,0,0.02);
}

.toggleButton{
    height:50px;
    padding:0;
    width: 100%;
    background-color:transparent;
    position:relative;
    color: inherit;
    font-Size: 1em;
    font-weight: 400;
    color:#999;
    padding-top:11px;
}

.dropdownItem{
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    color: inherit;
    font-Size: 1em;
    font-weight: 400;
    padding-top:14px;
    color:#999;
    border: solid #eee 1px;
    border-top:none;
    opacity: 0;
    z-index:-1;
    margin-top:-25px;
    transition:  margin-top 1s, opacity .05s linear;
}

.dropdownItem:hover{
    background-color: #f5f5f5;
    /* border: solid #ED1C24 1px; */
}

.activeTitle{
    color:#444;
    font-Size:1.1em;
    margin-top:2;
    font-weight:600;
}

.dropdownText{
    z-index:-1;
    display:inline;
    float:left;
    margin-left:10px;
}

.opened .arrowIcon{
    transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transition: transform .2s ease-out;
}
.arrowIcon{
   width:12px;
   height:12px; 
   float:right;
   margin-right:10px;
   margin-top:6px;
   transition: transform .1s linear;
   transform:rotate(0deg);
   -moz-transform: rotate(0deg);
   -webkit-transform: rotate(0deg);
}


